body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Set your desired background color */
}

.login-container {
    width: 100%;
    max-width: 400px;

}

.card {
    width: 100%;
}